*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 2% 6%;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-inner .nav {
  margin-left: auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  appearance: none;
  padding: 10px 15px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #f1f5ff;
  transition: box-shadow 0.2s ease;
  box-shadow: inset 0 1px 9px rgba(255, 255, 255, 0.5); /* Inset shadow with transparency */
}

.button.login:hover, .button.register:hover {
  background: radial-gradient(ellipse at top, #746ab0 0%, #a095e6 10%, #faf9f9 20%, #c5bfff 30%, #978ef1 40%, #7871f6 50%,  #7871f6 60%, #8eafe9 70%, #a1a1ff 80%, #a8a8ff 90%, #6d78f3 100%);
}

.footer {
  color: rgba(255, 255, 255, 0.69);
  text-align: center;
  margin-top: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.alert-warning {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  background: linear-gradient(to left, #f88e8e, #f56767, #f53b3b);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.alert-warning {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  background: linear-gradient(to left, #f88e8e, #f56767, #f53b3b);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px 0 0;
}

/* Общ стил за input и select полета */
input[type="text"], select {
  width: 100%; /* Взема цялата ширина на контейнера */
  padding: 12px; /* Падинг за равен размер на полетата */
  font-size: 16px; /* Размер на шрифта */
  border: 1px solid #ccc; /* Светло сив бордюр */
  border-radius: 5px; /* Заоблени ъгли */
  margin-bottom: 15px; /* Разстояние между полетата */
  box-sizing: border-box; /* Включва падинга и бордюра в ширината */
}

/* Стил за бутон */
.profile-actions-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.profile-actions-button:hover {
  background-color: #45a049;
}

.func-block a {
  color: #007BFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.func-block a:hover {
  text-decoration: underline;
}

/* За да осигурим, че лейбълите са в същия ред */
.label-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.label-holder label {
  font-size: 18px;
}