.profile-card {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.profile-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-header {
  margin-bottom: 20px;
}

.profile-header h2 {
  margin-bottom: 0;
  font-weight: 600;
}

.profile-avatar {
  width: 160px;
  height: 160px;
  border-radius: 80%;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 5px rgb(9, 8, 17, 0.1);
  align-self: center;
  justify-self: center;
}

.profile-name {
  font-size: 1.5rem;
  color: aqua;
}

.profile-actions {
  margin-top: 20px;
}

.profile-actions .btn {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(13, 13, 26, 0.20);
  font-weight: 300;
  margin: 5px;
}

.profile-actions {
  text-align: center;
}

.profile-actions-button {
  align-self: center;
  text-align: center;
  padding: 0 10px;
  width: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(13, 13, 26, 0.42);
  font-weight: 300;
  text-decoration: none;
  z-index: 2;
}
/**/
.buttons-info {
  display: flex;
  justify-content: end;
  gap: 5px;
  padding-right: 1em;
  flex: 1 0 20%;
}

button {
  background-color: rgb(74, 106, 124);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
}

button:hover {
  background-color: rgb(39, 63, 77);
}
/**/

.profile-actions-button p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-actions-button svg {
  width: 16px;
}

.profile-actions-button:hover {
  background: radial-gradient(circle at 90% top, #746ab0 0%, #6a61a4 10%, #605899 20%, #56508d 30%, #4c477f 40%, #423f73 50%, #383666 60%, #2e2d5a 70%, #24244d 80%, #1a1a41 90%, #101035 100%);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  transition: background 0.9s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-actions.btn.edit {
  background: #6edef5;
  color: white;
}

.home-profile-information {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 26px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/* Blurred spheres using pseudo-elements */
.single-section-box.home-profile-information::before,
.single-section-box.home-profile-information::after {
  content: '';
  position: absolute;
  border-radius: 90%;
  opacity: 0.7;
  filter: blur(40px);
  z-index: 1;
}

.single-section-box.home-profile-information::before {
  width: 350px;
  height: 190px;
  background: radial-gradient(circle, #ff60d745, #679fff);
  top: -90px;
  left: -100px;
}

.single-section-box.home-profile-information::after {
  width: 400px;
  height: 130px;
  background: radial-gradient(circle, rgb(135 102 255 / 47%), #ff676780);
  bottom: -40px;
  right: -180px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  font-weight: 300;
  align-items: start;
  margin-left: 5%;
}

.profile-info p {
  margin: 5px 0;
}

.details-section {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-size: 13px;
  color: black;
  margin-top: 10px;
}

.details-section-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: aqua;
}

.details-section-container p {
  margin: 0;
}

.details-section strong {
  font-weight: 500;
  color: aqua;
}

.status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.status.active {
  background-color: #e0f7e9;
  color: #2e7d32;
  border: 1px solid rgba(84, 227, 54, 0.6);
  box-shadow: 0 4px 8px rgba(0, 153, 51, 0.15);
}

.status.terminated {
  background-color: #fbe9e7;
  color: #c62828;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 103, 103, 0.6);
  box-shadow: 0 4px 8px rgba(255, 103, 103, 0.2);
}

.status.completed {
  background-color: #fbf0e7;
  color: #ff852c;
  border: 1px solid rgba(255, 144, 103, 0.6);
  box-shadow: 0 4px 8px rgba(255, 184, 103, 0.2);

}


.home-profile-information a.profile-actions-button {
  margin-top: 40px;
  color: aqua;
}