<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/historyUsernameCalories.css">
    <title>Exercise Library</title>
</head>
<body>
<nav>

</nav>
<main>

    <div class="home-section">
        <div class="single-section-box subscriptions-container">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Creator Username</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>MuscleGroupsTargeted</th>
                    <th>Difficulty</th>
                    <th>Equipment</th>
                    <th>Steps</th>
                    <th>VideoURL</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exercise : ${historyList}" class="my-paintings" th:if="${user.username == exercise.creator.username}">
                    <td th:text="${exercise.creator.username}">[Creator Username]</td>
                    <td th:text="${exercise.name}">[Name]</td>
                    <td th:text="${exercise.category}">[Category]</td>
                    <td th:text="${exercise.description}">[Description]</td>
                    <td th:text="${exercise.muscleGroupsTargeted}">[MuscleGroupsTargeted]</td>
                    <td th:text="${exercise.difficulty}">[Difficulty]</td>
                    <td th:text="${exercise.equipment}">[Equipment]</td>
                    <td th:text="${exercise.steps}">[Steps]</td>
                    <td th:text="${exercise.videoURL}">[VideoURL]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="/home" class="btn btn-icon">
            ⬅ Назад
        </a>
    </div>
</main>
</body>
</html>