<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>WorkoutProgram</title>-->

<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <form class="welcome add-offer-form" th:method="POST" th:action="@{/workouts}" th:object="${workoutProgramRequest}">-->

<!--        <label for="Name">Name</label>-->
<!--        <input type="text" id="Name" placeholder="Name" th:field="*{name}">-->

<!--        <label for="goal">Goal</label>-->
<!--        <select class="browser-default custom-select" id="goal" name="goal" th:field="*{goal}">-->
<!--            <option th:each="goal : ${T(org.app.train7smartapp.workoutProgram.model.Goal).values()}" th:value="${goal}" th:text="${goal}"></option>-->
<!--        </select>-->

<!--        <label for="duration">Duration</label>-->
<!--        <input type="text" id="duration" placeholder="Duration" th:field="*{duration}">-->

<!--        <label for="level">Level</label>-->
<!--        <select class="browser-default custom-select" id="level" name="level" th:field="*{level}">-->
<!--            <option th:each="level : ${T(org.app.train7smartapp.workoutProgram.model.Level).values()}" th:value="${level}" th:text="${level}"></option>-->
<!--        </select>-->

<!--        <label for="url">Url</label>-->
<!--        <input type="text" id="url" placeholder="Url" th:field="*{url}">-->

<!--        <button class="profile-actions-button">-->
<!--            <p>Save</p>-->
<!--            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"-->
<!--                      stroke-linejoin="round"></path>-->
<!--            </svg>-->
<!--        </button>-->

<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/nav-side-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/home-common.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/profile-menu.css">
    <title>Edit Profile</title>
</head>
<body>
<main>

    <div class="home-section">
        <div class="single-section-box profile-menu">
            <div class="profile-header">
                <img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://icons.veryicon.com/png/o/miscellaneous/user-avatar/user-avatar-male-5.png' : user.profilePicture}"
                     alt="Profile Picture" class="profile-avatar">
                <h2 th:text="${user.username}" class="profile-name"></h2>
            </div>

            <div class="details-section">
                <div class="details-section-container">
                    <strong>User id: </strong>
                    <p th:text="${user.id}"></p>
                </div>
                <div class="details-section-container">
                    <strong>Last profile update: </strong>
                    <p th:text="${user.updatedOn}"></p>
                </div>
            </div>

            <form class="form" th:method="POST" th:action="@{/workouts}" th:object="${workoutProgramRequest}">

                <label for="Name">Name</label>-->
                <input type="text" id="Name" placeholder="Name" th:field="*{name}">-->

                <label for="goal">Goal</label>-->
                <select class="browser-default custom-select" id="goal" name="goal" th:field="*{goal}">-->
                    <option th:each="goal : ${T(org.app.train7smartapp.workoutProgram.model.Goal).values()}"
                            th:value="${goal}" th:text="${goal}"></option>
                    -->
                </select>-->

                <label for="duration">Duration</label>-->
                <input type="text" id="duration" placeholder="Duration" th:field="*{duration}">-->

                <label for="level">Level</label>-->
                <select class="browser-default custom-select" id="level" name="level" th:field="*{level}">-->
                    <option th:each="level : ${T(org.app.train7smartapp.workoutProgram.model.Level).values()}"
                            th:value="${level}" th:text="${level}"></option>
                    -->
                </select>-->

                <label for="url">Url</label>-->
                <input type="text" id="url" placeholder="Url" th:field="*{url}">-->

                <button class="profile-actions-button">
                    <p>Save</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                </button>

                <button class="profile-actions-button">
                    <p>Dashboard</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>

            </form>
        </div>
    </div>
</main>

<div class="footer"><p>© 2025 Train7Smart.App. All rights reserved.</p></div>

</body>
</html>