<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/users.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">

    <title>NutritionPlans</title>
</head>
<body>
<nav>

</nav>
<main>
    <!--  <div class="nav-bar" th:insert="~{fragments/common/navigation-bar :: navigation-bar ('users')}"></div>-->
    <div class="nav-bar">
        <div class="side-bar-container">
            <nav>
                <div class="side_navbar">
                    <div class="smart-wallet-nav-bar">
                        <div class="smart-wallet-nav-bar-name">Train7Smart</div>
                    </div>
                    <div class="func-block">
                        <a href="/home" class="active">
                            <p>Dashboard</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                      d="M5 7h14M5 12h14M5 17h14"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="home-section">
        <div class="single-section-box subscriptions-container">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>User id</th>
<!--                    <th>NutritionPlan id</th>-->
                    <th>DailyCaloricIntake</th>
                    <th>MacronutrientBreakdown</th>
                    <th>DietaryRestrictions</th>
<!--                    <th>Delete NutritionPlan </th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="nutritionPlan : ${user.nutritionPlans}" class="my-paintings">
                    <td th:text="${nutritionPlan.creator.id}">[User id]</td>
<!--                    <td th:text="${nutritionPlan.id}">[NutritionPlan id]</td>-->
                    <td th:text="${nutritionPlan.dailyCaloricIntake}">[DailyCaloricIntake]</td>
                    <td th:text="${nutritionPlan.macronutrientBreakdown}">[MacronutrientBreakdown]</td>
                    <td th:text="${nutritionPlan.dietaryRestrictions}">[DietaryRestrictions]</td>

<!--                        <form th:action="@{'/users/' + ${singleUser.id} + '/delete-user'}" th:method="DELETE">-->
<!--                            <button class="profile-actions-button">-->
<!--                                <p>Delete</p>-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-toggle-on"-->
<!--                                     viewBox="0 0 16 16">-->
<!--                                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>-->
<!--                                </svg>-->
<!--                            </button>-->
<!--                        </form>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<!--<div class="footer" th:insert="~{fragments/common/footer :: footer}"></div>-->
</body>
</html>